<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.michel.rcp.intro.editor.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="de.michel.rcp.intro.editor.Perspective"
            id="de.michel.rcp.intro.editor.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="View"
            class="de.michel.rcp.intro.editor.View"
            id="de.michel.rcp.intro.editor.view">
      </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.michel.rcp.intro.editor.application"
            name="RCP Application">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.michel.rcp.intro.editor.editors.MyPersonEditor"
            default="false"
            icon="icons/alt_window_16.gif"
            id="de.michel.rcp.intro.editor.editors.MyPersonEditor"
            name="MyPersonEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="de.michel.rcp.intro.editor.handler.CallEditor"
            id="de.michel.rcp.intro.editor.callEditor"
            name="CallEditor">
      </command>
      <command
            defaultHandler="de.michel.rcp.intro.editor.handler.ExitHandler"
            id="de.michel.rcp.intro.editor.Exit"
            name="Exit">
      </command>
      <command
            defaultHandler="de.michel.rcp.intro.editor.handler.NewData"
            id="de.michel.rcp.intro.editor.NewData"
            name="NewData">
      </command>
      <command
            defaultHandler="de.michel.rcp.intro.editor.handler.Refresh"
            id="de.michel.rcp.intro.editor.Refresh"
            name="Refresh">
      </command>
      <command
            defaultHandler="de.michel.rcp.intro.editor.handler.DeleteData"
            id="de.michel.rcp.intro.editor.DeleteData"
            name="DeleteData">
      </command>
      <command
            defaultHandler="de.michel.rcp.intro.editor.handler.About"
            id="de.michel.rcp.intro.editor.About"
            name="About">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="datei"
               label="Datei">
            <command
                  commandId="de.michel.rcp.intro.editor.Exit"
                  icon="icons/exit.png"
                  label="Schließen"
                  style="push">
            </command>
         </menu>
         <menu
               id="bearbeiten"
               label="Bearbeiten">
            <command
                  commandId="de.michel.rcp.intro.editor.NewData"
                  icon="icons/neu.png"
                  label="Neu"
                  style="push">
            </command>
            <command
                  commandId="de.michel.rcp.intro.editor.Refresh"
                  icon="icons/refresh.png"
                  label="Refresh"
                  style="push">
            </command>
            <command
                  commandId="de.michel.rcp.intro.editor.DeleteData"
                  icon="icons/delete.png"
                  label="Löschen"
                  style="push">
            </command>
         </menu>
         <menu
               id="hilfe"
               label="Hilfe">
            <command
                  commandId="de.michel.rcp.intro.editor.About"
                  icon="icons/about.png"
                  label="Über"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="de.michel.rcp.intro.editor.NewData"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+K">
      </key>
      <key
            commandId="de.michel.rcp.intro.editor.DeleteData"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+L">
      </key>
      <key
            commandId="de.michel.rcp.intro.editor.Exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Q">
      </key>
      <key
            commandId="de.michel.rcp.intro.editor.Refresh"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+R">
      </key>
   </extension>

</plugin>
